.buttons
    button.glyphicon.glyphicon-share(
        class="delete"
        title="Remove this link from saved bookmarks and place its details into the form")
        
.all
    if model.title
            .title
                a(href="#{model.httpUrl}") #{model.title}
            .url
                a(href="#{model.httpUrl}") #{model.url}
    else
        .title
            a(href="#{model.httpUrl}") #{model.url}
if model.description || model.tags.length
    .description 
        p #{model.description}
        if model.tags.length
            .tags tags: #{model.readableTags}
