.buttons
    button.delete(title="click to remove this link from saved bookmarks and place its details into the form")
        img(src="icons/delete.png", alt="delete")
if model.title
    .title
        a(href="#{model.url}") #{model.title}
else
    .title
        a(href="#{model.url}") #{model.url}
div.tags #{model.readableTags}
if model.title
    a.url(href="#{model.url}") #{model.url}
if model.description
    p.description #{model.description}
