.buttons
    button.glyphicon.glyphicon-share(
        class="delete"
        title="Remove this link from saved bookmarks and place its details into the form")
        
.all
    if model.title
            .title
                a(href="#{model.httpUrl}", target="_blank") #{model.title}
            .url
                a(href="#{model.httpUrl}", target="_blank") #{model.url}
    else
        .title.full
            a(href="#{model.httpUrl}", target="_blank") #{model.url}
if model.description || model.tags.length
    .description 
        if model.tags.length
            .tags tags: 
                span #{model.readableTags}
        p #{model.description}
