#content
    input(type="file", name="bookmarks-file", id="bookmarks-file")
    span.import
        button.glyphicon.glyphicon-upload(
                title="import html bookmarks files exported from your browser",
                class="import")
            p.imported
            p.importe-failed
    span.export
        button.glyphicon.glyphicon-download(title="export bookmarks in html",
                                            class="export")

    form#create-bookmark-form(role="form")
        .panel.panel-default
            .panel-heading(class="title")
                h3.panel-title(title="Show the full form") 
                    | Bookmark a link
                .row
                    .form-group.col-xs-8
                        input.form-control(class="url-field",
                                           placeholder="url")
            .panel-body.full-form
                .row
                    .form-group.col-xs-5
                        input.form-control(class="title-field",
                                           placeholder="title")
                    .form-group.col-xs-5
                        input.form-control(class="tags-field",
                                           placeholder="tags, separated by ','")
                .row
                    .form-group.col-xs-10
                        textarea.form-control(class="description-field",
                                              placeholder="description")
                    .buttons.col-xs-2
                        button.glyphicon.glyphicon-ok-circle(
                            class="create",
                            title="Save the bookmark")
                            
                        button.glyphicon.glyphicon-remove-circle(
                            class="clean",
                            title="Clean the form")
                            


    #bookmarks-list
        .panel.panel-default
            .panel-heading
                h3.panel-title
                    | mY BOOkmarks
                .row
                    .tools.col-xs-12
                        .form-group
                            input.form-control(class="search",
                                               placeholder="search")
                        button.glyphicon.glyphicon-sort(
                            class="sort descending",
                            title="Sort links",
                            data-sort="title")
                            
                            
            .panel-body
                ul.list
