#content
    input(type="file", name="bookmarks-file", id="bookmarks-file")
    span.import
        button.glyphicon.glyphicon-upload(
            title="import html bookmarks files exported from your browser",
            class="icon-import")
        p.imported
        p.importe-failed
    span.export
        button.glyphicon.glyphicon-download(title="export bookmarks in html",
                                            class="icon-export")

    form#create-bookmark-form(role="form")
        .panel.panel-default
            .panel-heading(class="title")
                h3.panel-title(title="click to show the full form") 
                    | Bookmark a link
                .row
                    .form-group.col-xs-8
                        input.form-control(class="url-field",
                                           placeholder="url")
            .panel-body.full-form
                .row
                    .form-group.col-xs-5
                        input.form-control(class="title-field",
                                           placeholder="title")
                    .form-group.col-xs-5
                        input.form-control(class="tags-field",
                                           placeholder="tags, separated by ','")
                .row
                    .form-group.col-xs-10
                        textarea.form-control(class="description-field",
                                              placeholder="description")
                    .buttons.col-xs-2
                        button.btn.btn-success(class="create",
                                title="click here to store the bookmark")
                            .glyphicon.glyphicon-ok-circle
                        button.btn.btn-danger(class="clean",
                                              title="click to clean the form")
                            .glyphicon.glyphicon-remove-circle


    #bookmarks-list
        .panel.panel-default
            .panel-heading
                h3.panel-title
                    | mY BOOkmarks
                .row.tools
                    .form-group.col-xs-4
                        input.form-control(class="search",
                                           placeholder="search")
                    .form-group.col-xs-2
                        button.btn.btn-primary(class="sort descending",
                                               title="click to sort links",
                                               data-sort="title")
                            .glyphicon.glyphicon-sort
                            
            .panel-body
                ul.list
